.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;
    height: 125vh;
    position: relative;
  }
  
  .wave1{
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  #projects {
    background-color: #e2edff;
  }

  #sosial-media {
    background-color: aqua;
  }
  
  section {
    padding-top: 6rem;
  }
  